@import "bootstrap.min.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #eceeef;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a{
    position: relative;
    font-size: 20px;
    margin-left: 160px;
}

.login{
    width: 200px;
  }